@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #212a2f;
  --light-pink: #f1ebe7;;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
